 
<button (click)="onClickBlue()">BLUE is <strong *ngIf="isBlue==true">Active</strong></button>
<button (click)="onClickRed()"> RED is <strong *ngIf="isRed==true">Active</strong></button>
<button (click)="onClickYellow()">YELLOW is <strong *ngIf="isYellow">Active</strong></button>

<div  [ngClass]="{blue: isBlue==true, red: isRed==true, yellow:isYellow==true}">
        <strong>test div!</strong> 
</div> 